body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons {
  vertical-align: middle;
}
.mpj-page-title {
  border-bottom: solid 1px lightgray;
  margin-bottom: 20px;
}
.mpj-footer {
  border-top: solid 1px lightgray;
  margin-top: 20px;
}